
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sign_up</title>
</head>
<body>
    <div class="content">
        <form action="{% url 'sign_up' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="username">
            <input type="text" name="pw">
            <input type="text" name="pw_check">
            <input type="submit">
        </form>
    </div>
</body>
</html>