body {
    font-family: 'Do Hyeon', sans-serif;
    overflow-x: hidden;
    background-image: url("wallpaper.jpg");
    padding: 100px;
    margin-top: 50px;
}

.content {
    background-color: #F5F5F5 ;
    border: none;
    border-radius: 20px;
    text-align: center;
    margin-left: 18%;
    margin-top: 100px;
    margin-right: 20%;
    height: 400px;
    width: 900px;
    opacity:0.85;
    font-family: 'Do Hyeon', sans-serif;
}