{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block top %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>뉴스 작성</title>
    <link rel="stylesheet" href="{% static 'warning_style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&amp;subset=korean" rel="stylesheet">
</head>
{% endblock %}
<body>
    {% block head %}
        <div class="head"> 
            JEEWON NEWS
        </div>
        <h1> 유저와 글쓴이가 다릅니다. </h1>
    {% endblock %}

</body>
</html>